<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Continue</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body style="
    text-align: center;
    margin: 100px;
    font-family: sans-serif;
    font-size: 20px;
">
    <p>
    If you are not automatically re-directed,
</p><a href="session" style="
    padding: 20px;
    background: #0081d7;
    color: white;
    text-decoration: auto;
    margin: 40px auto;
    display: block;
    width: 200px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
">Click here to continue</a>


</body></html>