<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Continue</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body style="
    text-align: center;
    font-family: sans-serif;
">
<iframe style="border: none; width: 100vw; height: 100vh; margin: 0px" src="<%=data.link%>"></iframe>

</body></html>